# Анализ данных по COVID-19

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data_1 = pd.read_csv("data/covid_19_data.csv")
data_1.head(10)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
5,6,01/22/2020,Guangdong,Mainland China,1/22/2020 17:00,26.0,0.0,0.0
6,7,01/22/2020,Guangxi,Mainland China,1/22/2020 17:00,2.0,0.0,0.0
7,8,01/22/2020,Guizhou,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
8,9,01/22/2020,Hainan,Mainland China,1/22/2020 17:00,4.0,0.0,0.0
9,10,01/22/2020,Hebei,Mainland China,1/22/2020 17:00,1.0,0.0,0.0

In [3]:
data_1.shape

(306429, 8)

In [4]:
data_1.columns

Index(['SNo', 'ObservationDate', 'Province/State', 'Country/Region',
       'Last Update', 'Confirmed', 'Deaths', 'Recovered'],
      dtype='object')

In [5]:
data_2 = data_1.drop(['SNo', 'Last Update'], axis=1)
data_2.head(10)

  ObservationDate Province/State  Country/Region  Confirmed  Deaths  Recovered
0      01/22/2020          Anhui  Mainland China        1.0     0.0        0.0
1      01/22/2020        Beijing  Mainland China       14.0     0.0        0.0
2      01/22/2020      Chongqing  Mainland China        6.0     0.0        0.0
3      01/22/2020         Fujian  Mainland China        1.0     0.0        0.0
4      01/22/2020          Gansu  Mainland China        0.0     0.0        0.0
5      01/22/2020      Guangdong  Mainland China       26.0     0.0        0.0
6      01/22/2020        Guangxi  Mainland China        2.0     0.0        0.0
7      01/22/2020        Guizhou  Mainland China        1.0     0.0        0.0
8      01/22/2020         Hainan  Mainland China        4.0     0.0        0.0
9      01/22/2020          Hebei  Mainland China        1.0     0.0        0.0

In [6]:
# проверка на дубликаты
data_2.duplicated(['ObservationDate', 'Province/State', 'Country/Region']).sum()

5

In [7]:
# удаление дубликатов
data_2 = data_2.drop_duplicates(['ObservationDate', 'Province/State', 'Country/Region'])

In [8]:
# проверка на дубликаты
data_2.duplicated(['ObservationDate', 'Province/State', 'Country/Region']).sum()

0

In [9]:
data_2["Country/Region"].unique()

array(['Mainland China', 'Hong Kong', 'Macau', 'Taiwan', 'US', 'Japan',
       'Thailand', 'South Korea', 'China', 'Kiribati', 'Singapore',
       'Philippines', 'Malaysia', 'Vietnam', 'Australia', 'Mexico',
       'Brazil', 'Colombia', 'France', 'Nepal', 'Canada', 'Cambodia',
       'Sri Lanka', 'Ivory Coast', 'Germany', 'Finland',
       'United Arab Emirates', 'India', 'Italy', 'UK', 'Russia', 'Sweden',
       'Spain', 'Belgium', 'Others', 'Egypt', 'Iran', 'Israel', 'Lebanon',
       'Iraq', 'Oman', 'Afghanistan', 'Bahrain', 'Kuwait', 'Austria',
       'Algeria', 'Croatia', 'Switzerland', 'Pakistan', 'Georgia',
       'Greece', 'North Macedonia', 'Norway', 'Romania', 'Denmark',
       'Estonia', 'Netherlands', 'San Marino', ' Azerbaijan', 'Belarus',
       'Iceland', 'Lithuania', 'New Zealand', 'Nigeria', 'North Ireland',
       'Ireland', 'Luxembourg', 'Monaco', 'Qatar', 'Ecuador',
       'Azerbaijan', 'Czech Republic', 'Armenia', 'Dominican Republic',
       'Indonesia', 'Portugal', 'Andorra', 'Latvia', 'Morocco',
       'Saudi Arabia', 'Senegal', 'Argentina', 'Chile', 'Jordan',
       'Ukraine', 'Saint Barthelemy', 'Hungary', 'Faroe Islands',
       'Gibraltar', 'Liechtenstein', 'Poland', 'Tunisia', 'Palestine',
       'Bosnia and Herzegovina', 'Slovenia', 'South Africa', 'Bhutan',
       'Cameroon', 'Costa Rica', 'Peru', 'Serbia', 'Slovakia', 'Togo',
       'Vatican City', 'French Guiana', 'Malta', 'Martinique',
       'Republic of Ireland', 'Bulgaria', 'Maldives', 'Bangladesh',
       'Moldova', 'Paraguay', 'Albania', 'Cyprus', 'St. Martin', 'Brunei',
       'occupied Palestinian territory', "('St. Martin',)",
       'Burkina Faso', 'Channel Islands', 'Holy See', 'Mongolia',
       'Panama', 'Bolivia', 'Honduras', 'Congo (Kinshasa)', 'Jamaica',
       'Reunion', 'Turkey', 'Cuba', 'Guyana', 'Kazakhstan',
       'Cayman Islands', 'Guadeloupe', 'Ethiopia', 'Sudan', 'Guinea',
       'Antigua and Barbuda', 'Aruba', 'Kenya', 'Uruguay', 'Ghana',
       'Jersey', 'Namibia', 'Seychelles', 'Trinidad and Tobago',
       'Venezuela', 'Curacao', 'Eswatini', 'Gabon', 'Guatemala',
       'Guernsey', 'Mauritania', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Suriname', 'Kosovo',
       'Central African Republic', 'Congo (Brazzaville)',
       'Equatorial Guinea', 'Uzbekistan', 'Guam', 'Puerto Rico', 'Benin',
       'Greenland', 'Liberia', 'Mayotte', 'Republic of the Congo',
       'Somalia', 'Tanzania', 'The Bahamas', 'Barbados', 'Montenegro',
       'The Gambia', 'Kyrgyzstan', 'Mauritius', 'Zambia', 'Djibouti',
       'Gambia, The', 'Bahamas, The', 'Chad', 'El Salvador', 'Fiji',
       'Nicaragua', 'Madagascar', 'Haiti', 'Angola', 'Cabo Verde',
       'Niger', 'Papua New Guinea', 'Zimbabwe', 'Cape Verde',
       'East Timor', 'Eritrea', 'Uganda', 'Bahamas', 'Dominica', 'Gambia',
       'Grenada', 'Mozambique', 'Samoa', 'Syria', 'Timor-Leste', 'Belize',
       'Laos', 'Libya', 'Diamond Princess', 'Guinea-Bissau', 'Mali',
       'Saint Kitts and Nevis', 'West Bank and Gaza', 'Burma',
       'MS Zaandam', 'Botswana', 'Burundi', 'Sierra Leone', 'Malawi',
       'South Sudan', 'Sao Tome and Principe', 'Yemen', 'Comoros',
       'Tajikistan', 'Lesotho', 'Solomon Islands', 'Marshall Islands',
       'Vanuatu', 'Micronesia'], dtype=object)

In [16]:
# очищаем названия стран от лишних символов
data_2.loc[:, "Country/Region"] = data_2["Country/Region"].str.strip(" (),''")#.unique()

In [17]:
# изучаем страну "Others"
data_2[data_2["Country/Region"] == "Others"]

,ObservationDate,Province/State,Country/Region,Confirmed,Deaths,Recovered
965,02/07/2020,Cruise Ship,Others,61.0,0.0,0.0
1039,02/08/2020,Cruise Ship,Others,61.0,0.0,0.0
1113,02/09/2020,Diamond Princess cruise ship,Others,64.0,0.0,0.0
1181,02/10/2020,Diamond Princess cruise ship,Others,135.0,0.0,0.0
1255,02/11/2020,Diamond Princess cruise ship,Others,135.0,0.0,0.0
1328,02/12/2020,Diamond Princess cruise ship,Others,175.0,0.0,0.0
1403,02/13/2020,Diamond Princess cruise ship,Others,175.0,0.0,0.0
1479,02/14/2020,Diamond Princess cruise ship,Others,218.0,0.0,0.0
1554,02/15/2020,Diamond Princess cruise ship,Others,285.0,0.0,0.0
1628,02/16/2020,Diamond Princess cruise ship,Others,355.0,0.0,0.0
1704,02/17/2020,Diamond Princess cruise ship,Others,454.0,0.0,0.0
1779,02/18/2020,Diamond Princess cruise ship,Others,542.0,0.0,0.0
1854,02/19/2020,Diamond Princess cruise ship,Others,621.0,0.0,1.0
1931,02/20/2020,Diamond Princess cruise ship,Others,634.0,2.0,1.0
2010,02/21/2020,Diamond Princess cruise ship,Others,634.0,2.0,1.0
2096,02/22/2020,Diamond Princess cruise ship,Others,634.0,2.0,1.0
2182,02/23/2020,Diamond Princess cruise ship,Others,691.0,3.0,0.0
2270,02/24/2020,Diamond Princess cruise ship,Others,691.0,3.0,0.0
2362,02/25/2020,Diamond Princess cruise ship,Others,691.0,3.0,0.0
2458,02/26/2020,Diamond Princess cruise ship,Others,705.0,4.0,10.0
2561,02/27/2020,Diamond Princess cruise ship,Others,705.0,4.0,10.0
2669,02/28/2020,Diamond Princess cruise ship,Others,705.0,6.0,10.0
2785,02/29/2020,Diamond Princess cruise ship,Others,705.0,6.0,10.0
2907,03/01/2020,Diamond Princess cruise ship,Others,705.0,6.0,10.0
3034,03/02/2020,Diamond Princess cruise ship,Others,705.0,6.0,10.0
3177,03/03/2020,Diamond Princess cruise ship,Others,706.0,6.0,10.0
3330,03/04/2020,Diamond Princess cruise ship,Others,706.0,6.0,10.0
3492,03/05/2020,Diamond Princess cruise ship,Others,706.0,6.0,10.0
3667,03/06/2020,Diamond Princess cruise ship,Others,696.0,6.0,40.0
3870,03/07/2020,Diamond Princess cruise ship,Others,696.0,6.0,40.0
4097,03/08/2020,Diamond Princess cruise ship,Others,696.0,6.0,40.0
4355,03/09/2020,Diamond Princess cruise ship,Others,696.0,6.0,40.0
4623,03/10/2020,Diamond Princess cruise ship,Others,696.0,6.0,40.0
4831,03/11/2020,Diamond Princess cruise ship,Others,696.0,7.0,325.0
5050,03/12/2020,Diamond Princess cruise ship,Others,696.0,7.0,325.0
5315,03/13/2020,Diamond Princess cruise ship,Others,696.0,7.0,325.0
5508,03/14/2020,Diamond Princess cruise ship,Others,696.0,7.0,325.0
5762,03/15/2020,Diamond Princess cruise ship,Others,696.0,7.0,325.0
6023,03/16/2020,Diamond Princess cruise ship,Others,696.0,7.0,325.0
6298,03/17/2020,Diamond Princess cruise ship,Others,696.0,7.0,325.0
6577,03/18/2020,Diamond Princess cruise ship,Others,712.0,7.0,325.0
6865,03/19/2020,Diamond Princess cruise ship,Others,712.0,7.0,325.0
7161,03/20/2020,Diamond Princess cruise ship,Others,712.0,7.0,325.0
7467,03/21/2020,Diamond Princess cruise ship,Others,712.0,8.0,325.0
7922,03/22/2020,Diamond Princess cruise ship,Others,712.0,8.0,567.0
8225,03/23/2020,Diamond Princess cruise ship,Others,712.0,8.0,567.0

In [18]:
data_2.columns

Index(['ObservationDate', 'Province/State', 'Country/Region', 'Confirmed',
       'Deaths', 'Recovered'],
      dtype='object')

In [19]:
data_2["ObservationDate"].head()

0    01/22/2020
1    01/22/2020
2    01/22/2020
3    01/22/2020
4    01/22/2020
Name: ObservationDate, dtype: object

In [21]:
pd.to_datetime("01/22/2020").date()

datetime.date(2020, 1, 22)

In [23]:
# конвертация временных данных в тип TimeStamp
data_2.loc[:, "ObservationDate"] = pd.to_datetime(data_2[:, "ObservationDate"])

In [24]:
data_2["ObservationDate"].head()

0   2020-01-22
1   2020-01-22
2   2020-01-22
3   2020-01-22
4   2020-01-22
Name: ObservationDate, dtype: datetime64[ns]

In [28]:
# пример пар - функции, похожего на apply
my_list = [10, 20, 30, 40]

my_func = lambda x: x * 10

list(map(my_func, my_list))

[100, 200, 300, 400]

In [30]:
# извлечение дат из TimeStamp
data_2.loc[:, "ObservationDate"] = data_2.loc[:, "ObservationDate"].apply(lambda el: el.date())
data_2["ObservationDate"].head()

0    2020-01-22
1    2020-01-22
2    2020-01-22
3    2020-01-22
4    2020-01-22
Name: ObservationDate, dtype: object

In [31]:
# Анализ

# группируем данные по датам и выводи суммарные значения (по всему миру)
data_2.groupby(["ObservationDate"]).sum()

                   Confirmed     Deaths    Recovered
ObservationDate
2020-01-22             557.0       17.0         30.0
2020-01-23             653.0       17.0         32.0
2020-01-24             941.0       26.0         39.0
2020-01-25            1437.0       42.0         42.0
2020-01-26            2118.0       56.0         56.0
...                      ...        ...          ...
2021-05-25       167848207.0  3485788.0  104824935.0
2021-05-26       168416423.0  3498544.0  105380748.0
2021-05-27       168970791.0  3511297.0  106078106.0
2021-05-28       169470725.0  3523117.0  106633069.0
2021-05-29       169951560.0  3533619.0  107140669.0

[494 rows x 3 columns]